// Base color pallete: http://www.colourlovers.com/palette/1/metro

// Typography
///////////////////////////////////////////////////////////////////////////////
$sans-serif: $helvetica;
$serif: $georgia;

$base-font-family: $sans-serif;
$header-font-family: $base-font-family;

// Sizes
///////////////////////////////////////////////////////////////////////////////
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(10);
$form-border-radius: $base-border-radius / 2 ;
$base-spacing: 0.5em;

// Colors
///////////////////////////////////////////////////////////////////////////////

$blue: darken(#00B4FF, 15);
$dark-gray: #515151;
$light-gray: lighten(#515151, 50);
$white: #FFF;
$off-white: #EEE;

// Still need these?
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
// End

// Body Color
$base-body-color: $off-white;

//  Font Colors
$base-font-color: $white;
$base-accent-color: $blue;

//  Text Link Colors
$base-link-color: $dark-gray;
$hover-link-color: darken($base-link-color, 15);

// Border color
$base-border-color: $light-gray;

// Flash Colors
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;
