<aside>
  <%= image_tag 'storefront.png', alt: "storefront"%>
</aside>

<article>
  <header>About Paul's Store</header>
  <ul class="store_list">
    <li><a href="#">Day Cleaner</a></li>
    <li><a href="#">Pub</a></li>
    <li><a href="#">Carwash</a></li>
  </ul>
</article>