/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'normalize'
 *= require_self
 */
@import "bourbon";
@import "bitters/bitters";
@import "neat";

body {
  background-color: $base-body-color;
}

header {
  border-radius: $base-border-radius;
  background-color: $blue;
  padding: $base-spacing;
  @include outer-container;

  form {
    @include span-columns(6);
    input[type=text] {
      width: 25em;
      display: inline-block;
    }
  }

  nav {
    @include span-columns(6);
    ul {
      $horizontal-bar-mode: $large-screen;
      clear: both;
      -webkit-transform-style: preserve-3d; // stop webkit flicker
      display: none;
      margin: 0 auto;
      overflow: visible;
      padding: 0;
      width: 100%;
      z-index: 9999;

      @include media($horizontal-bar-mode) {
        display: inline;
        margin: 0;
        padding: 0;
      }
      li {
        line-height: $base-line-height;
        background: $off-white;
        margin: 0 0.5em;
        padding: 0.25em 0.5em;
        border-radius: $base-border-radius;

        @include media($horizontal-bar-mode) {
          display: inline-block;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  padding: 1em 0;
  @include outer-container;

  aside {
    @include span-columns(4);
  }

  article {
    background-color: $light-gray;
    border-radius: $base-border-radius;
    padding: $base-spacing;
    @include span-columns(8);
  }
}

button {
  margin: 0 $base-spacing;
}

footer {
  border-radius: $base-border-radius;
  padding: $base-spacing;
  @include outer-container;
  background-color: #515151;
}
